html
  head
    title Default
    <style>
      include style.css
    </style>
  body
    div.default
      div.head= firstName + " " + lastName
      div.sub-head= phoneNumber + " • " + email

      if work.length > 0
        p Professional Experience
        hr
        each w in work
          div.item
            span.title #{w.title},&nbsp;
            span.origin #{w.origin}
            div.date #{w.dateStart} - #{w.dateEnd}
            div.description #{w.description}

      if ed.length > 0
        p Education
        hr
        each e in ed
          div.item
            span.title #{e.title},&nbsp;
            span.origin #{e.origin},&nbsp;
            span.date #{e.dateEnd}

      if project.length > 0
        p Projects
        hr
        each p in project
          div.item
            span.title #{p.title},&nbsp;
            span.date #{p.dateStart} - #{p.dateEnd}
            div.description #{p.description}

      if honor.length > 0
        p Honors
        hr
        each h in honor
          div.item
            span.title #{h.title},&nbsp;
            span.date #{h.dateStart} - #{h.dateEnd}
            div.description #{h.description}
