<style>
    .modern {
        font-size: 11px;
        font-family: 'Helvetica', sans-serif;;
    }
    .modern header {
        background: #EFEEEC;
        height: 40px;
        padding: .5in;
    }
    .modern .name {
        margin: 0;
        float: left;
        font-size: 30px;
        line-height: 50px;
        font-weight: bold;
    }
    .modern .contact {
        margin: 0;
        float: right;
        text-align: right;
    }
    .modern .clearfix {
        clear: both;
    }
    .modern .content {
        padding: 20px .5in;
    }
    .modern .content .section-title {
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        margin-bottom: 10px;
    }
    .modern .content .item {
        margin-bottom: 10px;
        font-size: 10px;
        line-height: 1.6em;
    }
    .modern .content .item .title {
        font-size: 11px;
        font-weight: bold;
    }
    .modern .content .item p {
        margin: 0;
    }
</style>
<div class="modern">
    <header>
        <div class="name">
            {{firstName}} {{lastName}}
        </div>
        <div class="contact">
            <div class="item">{{email}}</div>
            <div class="item">{{phoneNumber}}</div>
        </div>
    </header>
    <div class="clearfix"></div>
    <div class="content">
        <div ng-if="data.work.length > 0">
            <div class="section-title">Work</div>
            {{#each work}}
            <div class="item">
                <span class="title">{{this.title}}</span>,
                {{this.origin}}
                <div class="date">
                    {{this.dateFromString}} - {{this.dateToString}}
                </div>
                <p>
                    {{this.description}}
                </p>
            </div>
            {{/each}}
        </div>

        <div ng-if="data.ed.length > 0">
            <div class="section-title">Education</div>
            {{#each ed}}
            <div class="item">
                <span class="title">{{this.title}}</span>,
                {{this.origin}}, {{this.dateString}}
            </div>
            {{/each}}
        </div>

        <div ng-if="data.project.length > 0">
            <div class="section-title">Projects</div>
            {{#each project}}
            <div class="item">
                <span class="title">{{this.title}}</span>,
                {{this.dateFromString}} - {{this.dateToString}}<br />
                {{this.description}}
            </div>
            {{/each}}
        </div>

        <div ng-if="data.honor.length > 0">
            <div class="section-title">Honors</div>
            {{#each honor}}
            <div class="item">
                <span class="title">{{this.title}}</span>,
                {{this.origin}}, Awarded {{this.dateString}}
            </div>
            {{/each}}
        </div>

        <div ng-if="data.skills.length > 0">
            <div class="section-title">Skills</div>
            {{#each skills}}
            <span>
                {{this.title}}
            </span>
            {{/each}}
        </div>
    </div>
</div>
